<div [class]='themeName' text-align="center"  >
  Aravind LN
  <select size="1"[(ngModel)]="themeName">
    <option value="forest">Forest Theme</option>
    <option value="ocean">Ocean Theme</option>
    <option value="cloud">Cloud Theme</option>
  </select><br>
  <div [class]='bgTheme' text-align="center">
    <input type="text" [style.backgroundColor]="bgTheme">
    <select size="1" id="n"[(ngModel)]="bgTheme">
      <option value="saffron">Saffron BG</option>
      <option value="white">White BG</option>
      <option value="green">Green BG</option>
    </select>
  </div><br>
  <div>
    <select size="1" [(ngModel)]="selectedOption">
      <option>TamilNadu</option>
      <option>karnataka</option>
      <option>None</option>
    </select><br>
       <div *ngIf="selectedOption == 'TamilNadu'">
        <select size="1">
          <option>Chennai</option>
          <option>Kumbakonam</option>
          <option>Madurai</option>
          <option>Coimbatur</option>
        </select>
      </div>
      <div *ngIf="selectedOption == 'karnataka'">
        <select size="1">
          <option>Bangalore</option>
          <option>Mysore</option>
          <option>Udupi</option>
          <option>Vijayapura</option>
        </select>
      </div>
      <div *ngIf="selectedOption=='None'">
        <b>Select a State</b>
      </div>
     
  </div><br>
  <div>
    <div [class]='themeName1' text-align="center" [style.max-width.px]="size" [style.max-height.px]="size">
       <select size="1" id="n"[(ngModel)]="themeName1">
         <option value="forest1">Forest Theme</option>
         <option value="ocean1">Ocean Theme</option>
         <option value="cloud1">Cloud Theme</option>
       </select><br>
  <b>Set the size</b>&nbsp;<input type="number" min="100" max="500" step="20" [(ngModel)]="size"><br>
  <label> FirstName </label><input type="text"  [(ngModel)]="firstname"  ><b *ngIf="firstname.length <= 0" style="color:red" >Please Enter FirstName</b><br>
  <label> LastName </label><input type="text"  [(ngModel)]="lastname"><b *ngIf="lastname.length <= 0" style="color:red">Please Enter LastName</b><br>
  <input type="checkbox" [(ngModel)]="enableDisable">
  <input type="button" value="Save" [disabled]="!enableDisable" >
  <input type="reset"  value="Reset" [disabled]="!(firstname.length >0 && lastname.length > 0)" >
</div>
  </div><br>
 </div>
<router-outlet></router-outlet>